<a href="https://colab.research.google.com/github/alezmartineza/Experimentos-Python/blob/main/Semana3AlexiaMartinez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# === LISTAS (list) ===
frutas = ["manzana", "pera", "plátano"]
numeros = [10, 20, 30, 40, 50]
mixta = ["hola", 123, 4.5, True]

# === DICCIONARIOS (dict) ===
persona = {"nombre": "Ana", "edad": 25, "ciudad": "Madrid"}
producto = {"id": 101, "nombre": "Laptop", "precio": 899.99}
vacio = {}  # diccionario vacío

# === CONJUNTOS (set) ===
colores = {"rojo", "verde", "azul"}
numeros_unicos = {1, 2, 3, 3, 2, 1}  # duplicados se eliminan
lenguajes = {"Python", "Java", "C++"}

# === TUPLAS (tuple) ===
coordenadas = (10, 20)
punto3D = (5, -3, 7)
datos = ("Mike", 30, "México")

In [ ]:
paises = ["México", "España", "Argentina", "Chile"]
print(paises[0])   # México
print(paises[-1])  # Chile

México
Chile

In [ ]:
numeros = [10, 20, 30, 40, 50]
print(numeros[-1])  # 50
print(numeros[-2])  # 40

50
40

In [ ]:
colores = ["rojo", "verde", "azul"]
colores[1] = "amarillo"
print(colores)  # ['rojo','amarillo','azul']

['rojo', 'amarillo', 'azul']

In [ ]:
letras = ["a","b","c","d","e","f"]
print(letras[:3])   # ['a','b','c']
print(letras[-3:])  # ['d','e','f']
print(letras[2:4])  # ['c','d']

['a', 'b', 'c']
['d', 'e', 'f']
['c', 'd']

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9]
print(nums[::2])   # pares -> [0,2,4,6,8]
print(nums[1::2])  # impares -> [1,3,5,7,9]
print(nums[::-1])  # reversa -> [9,8,7,6,5,4,3,2,1,0]

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
animales = ["perro","gato","pez","gato"]
print("gato" in animales)   # True
print(len(animales))        # 4
print("loro" in animales) # True

True
4
False

In [ ]:
nombres = ["Ana","Luis","Marta","Alexia"]
for nombre in nombres:
    print(nombre)

Ana
Luis
Marta
Alexia

In [ ]:
# Creamos una lista
a = [1, 2, 3]

# Asignamos b = a
# Esto no crea una copia
# 'b' y 'a' apuntan a la misma lista.
b = a

# Cambiamos el primer elemento de b
b[0] = 100

# Como 'a' y 'b' son el mismo objeto,
# el cambio se refleja en ambos.
print(a)  # [100, 2, 3]
print(b)  # [100, 2, 3]

[100, 2, 3]
[100, 2, 3]

¿Qué sucede?
El código demuestra cómo funciona la asignación de variables con listas en Python, específicamente cuando se asigna una variable de lista a otra que no crea una nueva copia de la lista. Ambas variables se refieren al mismo objeto de lista en la memoria.

In [ ]:
lista = [1,2,2,3,2,4]
print(2 in lista)  # True

conteo = 0
for x in lista:
    if x == 2:
        conteo += 1
print(conteo)  # 3

otra = [2,1,2,3,2,4]
print(lista == otra)  # False (el orden importa)

True
3
False

In [ ]:
nombres = []
nombres.append("Ana")
nombres.append("Luis")
nombres.insert(0, "Marta")
nombres.insert(1, "Alexia")
print(nombres)  # ['Marta','Ana','Luis']

['Marta', 'Alexia', 'Ana', 'Luis']

In [ ]:
nums = [1,2]
nums.extend([3,4,5,6,7])
print(nums)  # [1,2,3,4,5]

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
colores = ["rojo","verde","azul","verde"]
colores.remove("verde")
print(colores)  # ['rojo','azul','verde']
ultimo = colores.pop()
print(ultimo)   # 'verde'
print(colores)  # ['rojo','azul']

['rojo', 'azul', 'verde']
verde
['rojo', 'azul']

In [ ]:
letras = ["a","b","c","b","a","b"]
print(letras.index("b"))   # 1
print(letras.count("b"))   # 3

1
3

In [ ]:
nums = [5,1,4,2,3]
nums.sort()
print(nums)                # [1,2,3,4,5]
nums.sort(reverse=True)
print(nums)                # [5,4,3,2,1]
nums.reverse()
print(nums)                # [1,2,3,4,5]

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [ ]:
nums = [10,20,30]
nums.clear()
print(nums)                # []

[]

In [ ]:
alumno = {"nombre": "Alexia", "edad": 35, "carrera": "Economía"}
print(alumno["carrera"])

Economía

In [ ]:
producto = {"nombre": "Laptop", "precio": 15000}
producto["precio"] = 14000
producto["stock"] = 20
print(producto)

{'nombre': 'Laptop', 'precio': 14000, 'stock': 20}

In [ ]:
ciudad = {"nombre": "Veracruz", "poblacion": 600000, "pais": "México"}
del ciudad["pais"]
print(ciudad)

{'nombre': 'Veracruz', 'poblacion': 600000}

In [ ]:
persona = {"nombre": "Luis", "edad": 30}
if "edad" in persona:
    print("Edad encontrada")
else:
    print("No existe")

Edad encontrada

In [ ]:
contacto = {"nombre": "Ana", "telefono": "1234", "email": "ana@mail.com"}
for clave in contacto:
    print(clave, "→", contacto[clave])

nombre → Ana
telefono → 1234
email → ana@mail.com

In [ ]:
a = {"x": 1}
b = a
b["x"] = 99
print(a)  # {'x': 99}
print(b)  # {'x': 99}
# Ambos cambiaron porque son alias del mismo objeto.

{'x': 99}
{'x': 99}

In [ ]:
a = {"x": 1}
c = a.copy()
c["x"] = 100
print(a)  # {'x': 1}
print(c)  # {'x': 100}
# Solo cambió c, porque es una copia independiente.

{'x': 1}
{'x': 100}

In [ ]:
datos = {"nums": [1, 2, 3]}
copia = datos.copy()
copia["nums"].append(4)
print(datos)  # {'nums': [1, 2, 3, 4]}
print(copia)  # {'nums': [1, 2, 3, 4]}
# Ambos cambian porque la lista interna es compartida.

In [ ]:
usuario = {
    "nombre": "Ana",
    "edad": 25,
    "contacto": {"email": "ana@mail.com", "telefono": "1234"}
}
print(usuario["contacto"]["email"])

ana@mail.com

In [ ]:
agenda = {
    "Ana": {"telefono": "1234", "email": "ana@mail.com"},
    "Luis": {"telefono": "5678", "email": "luis@mail.com"},
    "Maria": {"telefono": "9012", "email": "maria@mail.com"}
}
for nombre, info in agenda.items():
    print(nombre, "→", info)

Ana → {'telefono': '1234', 'email': 'ana@mail.com'}
Luis → {'telefono': '5678', 'email': 'luis@mail.com'}
Maria → {'telefono': '9012', 'email': 'maria@mail.com'}

In [ ]:
usuario = {"nombre": "Luis", "pais": "MX"}
print(usuario.get("edad", 0))  # 0

0

In [ ]:
producto = {"nombre":"Laptop","precio":15000,"stock":10}
print(list(producto.keys()))     # ['nombre','precio','stock']
print(list(producto.values()))   # ['Laptop',15000,10]
for k, v in producto.items():
    print(k, "→", v)

['nombre', 'precio', 'stock']
['Laptop', 15000, 10]
nombre → Laptop
precio → 15000
stock → 10

In [ ]:
perfil = {"usuario":"Alexia","rol":"viewer"}
perfil.update({"rol":"admin","activo":True})
print(perfil)  # {'usuario':'mike','rol':'admin','activo':True}

{'usuario': 'Alexia', 'rol': 'admin', 'activo': True}

In [ ]:
cfg = {"tema":"oscuro","notificaciones":True}
v1 = cfg.pop("tema")            # 'oscuro'
v2 = cfg.pop("idioma", "es")    # 'es'
print(v1, v2)                   # oscuro es
print(cfg)                      # {'notificaciones': True}

oscuro es
{'notificaciones': True}

In [ ]:
d = {"a":1,"b":2,"c":3}
p1 = d.popitem()   # ('c', 3)  ← último insertado
p2 = d.popitem()   # ('b', 2)
print(p1, p2)      # ('c', 3) ('b', 2)
print(d)           # {'a': 1}

('c', 3) ('b', 2)
{'a': 1}

In [ ]:
a = {"x":[1,2]}

b = a               # aliasing (mismo objeto)
b["x"].append(3)

c = a.copy()        # copia superficial (dict nuevo, pero lista compartida)
c["x"].append(4)

print(a)  # {'x':[1,2,3,4]}
print(b)  # {'x':[1,2,3,4]}   (mismo objeto que a)
print(c)  # {'x':[1,2,3,4]}   (dict distinto, pero lista compartida)

# Comentario:
# - b = a → aliasing: apuntan al mismo dict.
# - a.copy() → dict nuevo, pero los valores mutables (la lista) siguen compartidos.
#   Por eso al append en c["x"] también se ve en a.

{'x': [1, 2, 3, 4]}
{'x': [1, 2, 3, 4]}
{'x': [1, 2, 3, 4]}

In [ ]:
campos = ["nombre","email","telefono"]
ficha = dict.fromkeys(campos, None)
ficha["nombre"] = "Ana"
ficha["email"] = "ana@mail.com"
ficha["telefono"] = "1234"
print(ficha)
# {'nombre': 'Ana', 'email': 'ana@mail.com', 'telefono': '1234'}

{'nombre': 'Ana', 'email': 'ana@mail.com', 'telefono': '1234'}

In [ ]:
config = {"modo":"auto"}
config.update({"modo":"manual","reintentos":3})
timeout = config.get("timeout", 30)      # 30
reintentos = config.pop("reintentos")    # 3
print("timeout:", timeout, "| reintentos:", reintentos)
print(list(config.keys()), list(config.values()))
# Claves/valores ejemplo: ['modo'] ['manual']

timeout: 30 | reintentos: 3
['modo'] ['manual']

In [ ]:
persona = {"nombre":"Alexia","edad":35}
print("Altura:", persona.get("altura", "No registrada"))
for k, v in persona.items():
    print(k, "→", v)

Altura: No registrada
nombre → Alexia
edad → 35

In [ ]:
mis_datos = set()
print(type(mis_datos))  # <class 'set'>

<class 'set'>

In [ ]:
valores = {1, 1, 2, 3, 3, 4}
print(valores)  # {1, 2, 3, 4}

{1, 2, 3, 4}

In [ ]:
mixto = {"Alexia", 35, True}
print(mixto)  # {'Mike', 30, True}

{'Alexia', 35, True}

In [ ]:
frutas = {"manzana", "pera", "uva"}
print("pera" in frutas)     # True
print("naranja" not in frutas) # True

True
True

In [ ]:
letras = {"a", "b", "c", "d"}
print(letras)
print(letras)
print(letras)
# Orden puede cambiar en cada ejecución

{'d', 'a', 'c', 'b'}
{'d', 'a', 'c', 'b'}
{'d', 'a', 'c', 'b'}

In [ ]:
lista = [1,1,2,3,3,4,5,5]
unicos = set(lista)
print(unicos)  # {1,2,3,4,5}

{1, 2, 3, 4, 5}

In [ ]:
lista = {[1,1,25]3,6,5,8,9}
# Esto dará error:
# conjunto = {[1,2,3], 4, 5}
# TypeError: unhashable type: 'list'

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-4039759116.py, line 1)

In [ ]:
frutas = {"manzana", "pera"}
frutas.add("uva")
print(frutas)

{'uva', 'manzana', 'pera'}

In [ ]:
colores = {"rojo", "verde", "azul"}
colores.remove("verde")     # elimina 'verde'
colores.discard("negro")    # no da error si no existe
print(colores)

# remove borró "verde".
# discard intentó borrar "negro", pero como no estaba, no pasó nada.

{'azul', 'rojo'}

In [ ]:
letras = {"a","b","c","d"}
quitado = letras.pop()
print("Quitado:", quitado)
print("Queda:", letras)

# Quitado: a            # (puede ser cualquiera: 'a','b','c','d')
# Queda: {'b','c','d'}  # o el resto según cuál se quitó

Quitado: d
Queda: {'a', 'c', 'b'}

In [ ]:
nums = {1,2,3}
nums.clear()
print(nums)

# El set quedó vacío

set()

In [ ]:
a = {1,2,3}
b = {3,4,5}
a.update(b)
print(a)

# {1,2,3,4,5}

{1, 2, 3, 4, 5}

In [ ]:
a = {1,2,3,4}
b = {3,4,5}
a.intersection_update(b)
print(a)

# {3,4}

{3, 4}

In [ ]:
a = {1,2,3,4}
a.difference_update({2,5})
print(a)

# {1,3,4}
# Se eliminó el 2 porque sí estaba en a.
# El 5 no estaba, así que no hubo cambios en esa parte.

{1, 3, 4}

In [ ]:
a = {1,2,3}
b = {3,4}
a.symmetric_difference_update(b)
print(a)

# {1,2,4}
# Se quitó el 3 porque estaba en ambos y se unieron el resto

{1, 2, 4}

In [ ]:
x = {1,2}
y = {2,3,4}
u = x.union(y)
print(u)
print(x | y)

# {1,2,3,4}
# {1,2,3,4}
# La unión incluye todos los elementos de ambos sets.

{1, 2, 3, 4}
{1, 2, 3, 4}

In [ ]:
x = {1,2}
y = {2,3,4}
i = x.intersection(y)
print(i)
print(x & y)


# {2}
# {2}
# La intersección devuelve solo el valor que comparten (2).

{2}
{2}

In [ ]:
x = {1,2}
y = {2,3,4}
d1 = x - y
d2 = y - x
print(d1)
print(d2)

# {1}
# {3,4}

# x - y → lo que está en x pero no en y.
# y - x → lo que está en y pero no en x.

{1}
{3, 4}

In [ ]:
x = {1,2}
y = {2,3,4}
sd = x.symmetric_difference(y)
print(sd)
print(x ^ y)

# {1,3,4}
# {1,3,4}
# La diferencia simétrica se queda con los que no están en ambos.

{1, 3, 4}
{1, 3, 4}

In [ ]:
a = {1,2}
b = {1,2,3,4}
print(a.issubset(b))
print(b.issuperset(a))

# True
# True

# a es subconjunto de b (todos sus elementos están en b).
# b es superconjunto de a (contiene a a).

True
True

In [ ]:
m = {"py","js"}
n = {"html","css"}
print(m.isdisjoint(n))

p = {"js","go"}
print(m.isdisjoint(p))

# True
# False

# m y n no comparten nada → disjuntos.
# m y p sí comparten "js" → no son disjuntos.

True
False

In [ ]:
colores = ("rojo", "verde", "azul")
print(colores[0])     # 'rojo'
print(colores[-1])    # 'azul'

In [ ]:
nums = (1,2,3,4,5,6,7,8)
print(nums[1:6])      # (2, 3, 4)

(2, 3, 4, 5, 6)

In [ ]:
t = (7,)
print(type(t))        # <class 'tuple'>

<class 'tuple'>

In [ ]:
a = (10,20)
b = (30,40)
c = a + b
print(c * 2)          # (10,20,30,40,10,20,30,40)

(10, 20, 30, 40, 10, 20, 30, 40)

In [ ]:
t = (5,10,15,20,25)
print(t[::-1])        # (25,20,15,10,5)

(25, 20, 15, 10, 5)

In [ ]:
fecha = (2025,8,28)
anio, mes, dia = fecha
print(f"Año: {anio}, Mes: {mes}, Día: {dia}")

Año: 2025, Mes: 8, Día: 28

In [ ]:
t = ("Ana", (10,20,30), "Fin")
print(t[1][1])        # 20

20

In [ ]:
t = (1, [2,3], 4)
t[1].append(99)
print(t)              # (1, [2,3,99], 4)

(1, [2, 3, 99], 4)

In [ ]:
coordenada = (19.43, -99.13)
lugares = {coordenada: "CDMX"}
print(lugares)        # {(19.43, -99.13): 'CDMX'}

{(19.43, -99.13): 'CDMX'}

In [1]:
animales = ["perro", "gato", "loro", "pez", "conejo"]
print(len(animales))
# Resultado: 5

5

In [2]:
numeros = list(range(1, 11))
print(sum(numeros))
# Resultado: 55

55

In [3]:
t = (5, 17, 3, 9, 21)
print(min(t))  # 3
print(max(t))  # 21

3
21

In [4]:
puntos = [40, 10, 70, 20]
print(sorted(puntos))                 # [10, 20, 40, 70]
print(sorted(puntos, reverse=True))   # [70, 40, 20, 10]

[10, 20, 40, 70]
[70, 40, 20, 10]

In [5]:
texto = "python"
print(list(reversed(texto)))
# ['n', 'o', 'h', 't', 'y', 'p']

['n', 'o', 'h', 't', 'y', 'p']

In [6]:
valores = {0, "", None, 15}
print(any(valores))
# True porque 15 es considerado verdadero.

True

In [7]:
checks = {"a": 1, "b": True, "c": "ok"}
print(all(checks.values()))
# True porque 1, True y "ok" son todos valores verdaderos.

True