<a href="https://colab.research.google.com/github/alezmartineza/Experimentos-Python/blob/main/Semana_4_Alexia_martinez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
precios = [120, 50, 200, 30, 400]
altos = [p for p in precios if p >= 100]
print(altos)
# [120, 200, 400]

[120, 200, 400]

In [ ]:
notas = {"Ana": 8, "Luis": 5, "Marta": 9, "Pedro": 6}

In [ ]:
aprobados = {nombre: nota for nombre, nota in notas.items() if nota >= 6}
print(aprobados)
# {'Ana': 8, 'Marta': 9, 'Pedro': 6}

{'Ana': 8, 'Marta': 9, 'Pedro': 6}

In [ ]:
frase = "python es divertido y python es poderoso"
frase = "python es divertido y python es poderoso"
palabras = {p for p in frase.split()}
print(palabras)
# {'es', 'poderoso', 'divertido', 'y', 'python'}

{'python', 'poderoso', 'es', 'divertido', 'y'}

In [ ]:
productos = [("Pan", 20), ("Leche", 15), ("Carne", 80), ("Jugo", 10)]

In [ ]:
productos = [("Pan", 20), ("Leche", 15), ("Carne", 80), ("Jugo", 10)]
clasificacion = {nombre: ("caro" if precio > 30 else "barato") for nombre, precio in productos}
print(clasificacion)
# {'Pan': 'barato', 'Leche': 'barato', 'Carne': 'caro', 'Jugo': 'barato'}

{'Pan': 'barato', 'Leche': 'barato', 'Carne': 'caro', 'Jugo': 'barato'}

In [ ]:
usuarios = {f"user{i}": 1000 + i for i in range(1, 6)}
print(usuarios)
# {'user1': 1001, 'user2': 1002, 'user3': 1003, 'user4': 1004, 'user5': 1005}

{'user1': 1001, 'user2': 1002, 'user3': 1003, 'user4': 1004, 'user5': 1005}

In [ ]:
nombres = ["Ana", "Luis", "Marta"]
vocales = {letra.lower() for nombre in nombres for letra in nombre if letra.lower() in "aeiou"}
print(vocales)
# {'a', 'i', 'u'}

{'i', 'u', 'a'}

In [ ]:
def bienvenida():
    print("¡Hola, estudiante!")

bienvenida()

¡Hola, estudiante!

In [ ]:
def presentacion(nombre):
    print(f"Hola {nombre}, bienvenido al curso.")

presentacion("Alexia")

Hola Alexia, bienvenido al curso.

In [ ]:
def multiplicar(a, b):
    return a * b

print(multiplicar(4, 6))  # 24

24

In [ ]:
def ejemplo_print(a, b):
    print(a + b)  # solo muestra, no se puede reutilizar

def ejemplo_return(a, b):
    return a + b  # devuelve el valor

ejemplo_print(2, 3)        # Muestra 5 en pantalla
resultado = ejemplo_return(2, 3)
print(resultado * 2)       # 10 (lo reutilizamos porque return devolvió un valor)

5
10

In [ ]:
curso = "Python"  # variable global

def cambiar_curso():
    curso = "Java"  # variable local
    print("Dentro de la función:", curso)

cambiar_curso()
print("Fuera de la función:", curso)
# Salida:
# Dentro de la función: Java
# Fuera de la función: Python

Dentro de la función: Java
Fuera de la función: Python

In [ ]:
def listar_personas(*args):
    for nombre in args:
        print("-", nombre)

listar_personas("Ana", "Luis", "Pedro", "Marta")

# - Ana
# - Luis
# - Pedro
# - Marta

- Ana
- Luis
- Pedro
- Marta

In [ ]:
def promedio(*args):
    return sum(args) / len(args)

print(promedio(10, 20, 30))   # 20.0
print(promedio(5, 15))        # 10.0

20.0
10.0

In [ ]:
def registrar_producto(id, **kwargs):
    print(f"Producto ID: {id}")
    for k, v in kwargs.items():
        print(f"{k}: {v}")

registrar_producto(2001, nombre="Laptop", precio=899.99, stock=10)

# Producto ID: 2001
# nombre: Laptop
# precio: 899.99
# stock: 10

Producto ID: 2001
nombre: Laptop
precio: 899.99
stock: 10

In [ ]:
def crear_reporte(curso, profesor, *notas, **kwargs):
    print(f"Curso: {curso} - Profesor: {profesor}")
    if notas:
        print("Promedio de notas:", sum(notas) / len(notas))
    print("Datos adicionales:")
    for k, v in kwargs.items():
        print(f" {k}: {v}")

crear_reporte(
    "Python",
    "Mike",
    8, 9, 10,
    alumnos=25,
    modalidad="online"
)

# Curso: Python - Profesor: Mike
# Promedio de notas: 9.0
# Datos adicionales:
#  alumnos: 25
#  modalidad: online

Curso: Python - Profesor: Mike
Promedio de notas: 9.0
Datos adicionales:
 alumnos: 25
 modalidad: online

In [ ]:
def presentar(nombre, edad, ciudad):
    print(f"Soy {nombre}, tengo {edad} años y vivo en {ciudad}.")

# Lista de datos
datos_lista = ["Ana", 28, "Madrid"]

# Diccionario de datos
datos_dict = {"nombre": "Alexia", "edad": 35, "ciudad": "San Salvador"}

# Llamada usando * (desempaqueta la lista en orden)
presentar(*datos_lista)
# Salida: Soy Ana, tengo 28 años y vivo en Madrid.

# Llamada usando ** (desempaqueta el diccionario por clave)
presentar(**datos_dict)
# Salida: Soy Luis, tengo 30 años y vivo en CDMX.

Soy Ana, tengo 28 años y vivo en Madrid.
Soy Alexia, tengo 35 años y vivo en San Salvador.

In [ ]:
suma = lambda a, b: a + b
print(suma(3, 7))  # 10

10

In [ ]:
par_impar = lambda n: "Par" if n % 2 == 0 else "Impar"
print(par_impar(8))  # Par
print(par_impar(11)) # Impar

Par
Impar

In [ ]:
cuadrado = lambda x: x * x
print(cuadrado(5))  # 25

25

In [ ]:
reversa = lambda texto: texto[::-1]
print(reversa("python"))  # nohtyp

nohtyp

In [ ]:
mayor = lambda a, b: a if a > b else b
print(mayor(12, 7))  # 12

12

In [ ]:
longitud = lambda s: len(s)
print(longitud("Hola mundo"))  # 10

10

In [ ]:
mensaje = lambda: "Hola desde lambda"
print(mensaje())  # Hola desde lambda

Hola desde lambda

In [ ]:
precio_con_iva = lambda precio: precio * 1.16
print(precio_con_iva(100))  # 116.0

In [ ]:
ultimo = lambda s: s[-1]
print(ultimo("Python"))  # n

n

In [ ]:
calculadora = {
    "suma": lambda a, b: a + b,
    "resta": lambda a, b: a - b,
    "doble": lambda x: x * 2
}

print(calculadora["suma"](5, 3))   # 8
print(calculadora["resta"](10, 4)) # 6
print(calculadora )     # 14

8
6
{'suma': <function <lambda> at 0x7c053868e340>, 'resta': <function <lambda> at 0x7c053868ea20>, 'doble': <function <lambda> at 0x7c053868ef20>}

In [1]:
celsius = [0, 10, 20, 30, 40]

fahrenheit = list(map(lambda c: c * 9/5 + 32, celsius))
print(fahrenheit)
# [32.0, 50.0, 68.0, 86.0, 104.0]

[32.0, 50.0, 68.0, 86.0, 104.0]

In [2]:
nombres = ["Ana", "Luis", "Marta"]

saludos = list(map(lambda n: f"Hola, {n}", nombres))
print(saludos)
# ['Hola, Ana', 'Hola, Luis', 'Hola, Marta']

['Hola, Ana', 'Hola, Luis', 'Hola, Marta']

In [4]:
edades = [15, 18, 22, 12, 30, 17]

adultos = list(filter(lambda e: e >= 18, edades))
print(adultos)
# [18, 22, 30]

[18, 22, 30]

In [3]:
frases = ["Hola", "Bienvenidos al bootcamp", "Python", "Programación funcional"]

largas = list(filter(lambda f: len(f) > 10, frases))
print(largas)
# ['Bienvenidos al bootcamp', 'Programación funcional']

['Bienvenidos al bootcamp', 'Programación funcional']

In [5]:
from functools import reduce

precios = [100, 250, 50, 200]

total = reduce(lambda x, y: x + y, precios)
print(total)
# 600

600

In [6]:
numeros = [15, 88, 3, 42, 67]

mayor = reduce(lambda x, y: x if x > y else y, numeros)
print(mayor)
# 88

88

In [7]:
palabras = ["Python", "Java", "PHP", "C++", "Perl"]

resultado = list(
    map(lambda p: p.lower(), filter(lambda p: p.startswith("P"), palabras))
)
print(resultado)
# ['python', 'php', 'perl']

['python', 'php', 'perl']

In [8]:
productos = [10, 50, 100]  # en USD

precios_mxn = list(map(lambda p: p * 17.5, productos))
total = reduce(lambda x, y: x + y, precios_mxn)

print(precios_mxn)  # [175.0, 875.0, 1750.0]
print(total)        # 2800.0

[175.0, 875.0, 1750.0]
2800.0

In [9]:
edades = [15, 18, 22, 35, 12, 30]

adultos = list(filter(lambda e: e >= 18, edades))
promedio = reduce(lambda x, y: x + y, adultos) / len(adultos)

print(adultos)   # [18, 22, 35, 30]
print(promedio)  # 26.25

[18, 22, 35, 30]
26.25

In [10]:
numeros = [1, 2, 3, 4, 5, 6]

pares = filter(lambda x: x % 2 == 0, numeros)      # [2, 4, 6]
dobles = map(lambda x: x * 2, pares)              # [4, 8, 12]
total = reduce(lambda x, y: x + y, dobles)        # 24

print(total)
# 24

24

In [11]:
def presentar():
    return "Hola, soy estudiante"

f = presentar
print(f())   # Hola, soy estudiante

Hola, soy estudiante

In [13]:
def aplicar_dos_veces(func, valor):
    return func(func(valor))

# Functions that work when applied twice:
print(aplicar_dos_veces(str.upper, "python"))  # PYTHON
print(aplicar_dos_veces(abs, -5))  # 5

# Function that doesn't work when applied twice:
# print(aplicar_dos_veces(len, [1,2,3,4])) # This will raise a TypeError

# Example with a lambda function that can be applied twice
add_five = lambda x: x + 5
print(aplicar_dos_veces(add_five, 10)) # 20 (10 + 5 = 15, then 15 + 5 = 20)

PYTHON
5
20

In [14]:
def crear_sumador(n):
    def sumar(x):
        return x + n
    return sumar

sumar10 = crear_sumador(10)
print(sumar10(5))  # 15

15

In [15]:
precios = [120, 50, 200, 30, 400]
altos = [p for p in precios if p >= 100]
print(altos)
# [120, 200, 400]

[120, 200, 400]

In [16]:
notas = {"Ana": 8, "Luis": 5, "Marta": 9, "Pedro": 6}

In [17]:
aprobados = {nombre: nota for nombre, nota in notas.items() if nota >= 6}
print(aprobados)
# {'Ana': 8, 'Marta': 9, 'Pedro': 6}

{'Ana': 8, 'Marta': 9, 'Pedro': 6}

In [18]:
frase = "python es divertido y python es poderoso"

In [19]:
frase = "python es divertido y python es poderoso"
palabras = {p for p in frase.split()}
print(palabras)
# {'es', 'poderoso', 'divertido', 'y', 'python'}

{'poderoso', 'es', 'y', 'python', 'divertido'}

In [20]:
productos = [("Pan", 20), ("Leche", 15), ("Carne", 80), ("Jugo", 10)]

In [21]:
productos = [("Pan", 20), ("Leche", 15), ("Carne", 80), ("Jugo", 10)]
clasificacion = {nombre: ("caro" if precio > 30 else "barato") for nombre, precio in productos}
print(clasificacion)
# {'Pan': 'barato', 'Leche': 'barato', 'Carne': 'caro', 'Jugo': 'barato'}

{'Pan': 'barato', 'Leche': 'barato', 'Carne': 'caro', 'Jugo': 'barato'}

In [22]:
usuarios = {f"user{i}": 1000 + i for i in range(1, 6)}
print(usuarios)
# {'user1': 1001, 'user2': 1002, 'user3': 1003, 'user4': 1004, 'user5': 1005}

{'user1': 1001, 'user2': 1002, 'user3': 1003, 'user4': 1004, 'user5': 1005}

In [23]:
nombres = ["Ana", "Luis", "Marta"]
vocales = {letra.lower() for nombre in nombres for letra in nombre if letra.lower() in "aeiou"}
print(vocales)
# {'a', 'i', 'u'}

{'a', 'i', 'u'}